.dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: #0094ff;
}
.dropdown-check-list.visible .items {
  display: block;
}

/*--youtube dropdowncheck box https://www.youtube.com/watch?v=yMKTRn_THeA */
/*--CSS for first checkbox form--*/

.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes {
  display: none;
  border: black #dadada solid;
}
#checkboxes label {
  display: block;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}

/*--CSS for second checkbox form--*/
.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes1{
  display: none;
  border: black #dadada solid;
}
#checkboxes1 label {
  display: block;
}
#checkboxes1 label:hover {
  background-color: #1e90ff;
}


/*--CSS for third checkbox form--*/
.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes3 {
  display: none;
  border: black #dadada solid;
}
#checkboxes3 label {
  display: block;
}
#checkboxes3 label:hover {
  background-color: #1e90ff;
}

/*--CSS for fourth checkbox form--*/
.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes4 {
  display: none;
  border: black #dadada solid;
}
#checkboxes4 label {
  display: block;
}
#checkboxes4 label:hover {
  background-color: #1e90ff;
}


.col-12 .exampleCheck1 {
  float:left;
  margin-left: 45px;
}


form {
  float: left;
  margin: 10px;
}

div .points1 {
  width: 146px;
  border: 3px solid green;
  background-color: lightblue;
  float: left;
  margin-right: 10px;
}

div .points {
  text-align: center;
  border: 1px solid black;
  background-color: lightblue;
}

img {
  width: 100px;
}


div #prifile_info {
  border: 1px solid red;
  float: left;
   padding: 0px;
  margin: 0px;

}

img {
  float: left;
  margin-right: 10px;
}

.button {
  width: 50px;
}

#total_points {
  border: 1px solid red;
  background-color: yellow;
  font-size: 25px;
  font-family: Arial;
}

/*cards team lead side*/

.cards {
  position: relative;
  border: 3px solid green;
  width: 18rem;
  height: 310px;
  margin: 20px 20px 0px 0px;
  float: left;
  
}
.name {
  position: absolute;
  width: 282px;
  border: 2px solid green;

}
.body {
  position: absolute;
  border: 2px solid green;
  bottom: 168px;
}
.footer {
  position: absolute;
  bottom: 0px;
  border: 2px solid green;
}
